{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "dts": true,
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "decoratorVersion": "2022-03",
      "react": {
        "runtime": "automatic"
      }
    },
    "target": "es2022",
    "baseUrl": "src",
    "paths": {
      "@": ["."],
      "@/*": ["*"]
    }
  },
  "sourceMaps": "inline",
  "module": {
    "type": "commonjs"
  }
}
